@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --background-color: #111827;
  --text-color: #f9fafb;
  --primary-color: #818cf8;
  --secondary-color: #94a3b8;
  --scrollbar-thumb-color: #ABB2B9; 
  --scrollbar-thumb-task-color: #ABB2B9
 
}

.light {

  --background-color: #FEF9E7;
  --text-color: #333333;
  --primary-color: #4f46e5;
  --secondary-color: #64748b;
  --scrollbar-thumb-color: #ABB2B9; 
  --scrollbar-thumb-task-color: #ABB2B9; 
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 0.75rem; 
}

.task > ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-task-color);
  border-radius: 0.75rem; 
}

a {
  color: var(--primary-color);
}

